<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

   <!-- 使用注解方式注册bean对象，不需要使用bean标签配置自己的类了 -->
   <!-- 第一步：配置组件扫描的包路径，扫描@Controller注解，把类注册成bean对象 -->
   <context:component-scan base-package="com.sc.controller"></context:component-scan>
   
   <!-- 第二步：启用springmvc注解驱动，找@RequestMapping等注解 -->
   <mvc:annotation-driven></mvc:annotation-driven>
   
   <!-- 第三步： 配置内部资源视图解析器，解析视图页面 -->
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
         id="viewResolver">
         <!-- 视图类，采用的是jsp视图技术 -->
         <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
         <!-- 配置视图页面的前缀 -->
         <property name="prefix" value="/WEB-INF/"></property>
         <!-- 配置视图页面的后缀  -->
         <property name="suffix" value=".jsp"></property><!-- 例如：/WEB-INF/视图名称.jsp -->
         <!-- 优先级最高 -->
         <property name="order" value="1"></property>
   </bean>
   
   <!-- 配置拦截器 -->
   <mvc:interceptors>
     <mvc:interceptor>
       <mvc:mapping path="/**"/><!-- 拦截所有请求 -->
       <mvc:exclude-mapping path="/loginctrl/**"/><!-- 除登录控制器的方法之外 -->
       <bean class="com.sc.interceptor.LoginInterceptor"></bean>
     </mvc:interceptor>
   </mvc:interceptors>
   
   <!-- 文件上传解析器 -->
   <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
        id="multipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="1000000"></property>
        <property name="resolveLazily" value="true"></property>
   </bean>
   
   <!-- 自定义异常 -->
   <bean class="com.sc.exception.MyException" id="myException"></bean>
   
</beans>